<!-- <app-testone></app-testone> -->
<!-- <app-clienttest11></app-clienttest11> -->
<!-- <app-clienttest1></app-clienttest1> -->
<!-- <app-clienttest2></app-clienttest2> -->
<app-home></app-home>
<!-- <app-client></app-client> -->
<!-- <app-testdatatable></app-testdatatable> -->
<!-- <app-testevent></app-testevent> -->
<!-- <app-test></app-test> -->
<!-- <app-meta-data-menu></app-meta-data-menu> -->
<!-- <h1>
    {{title}} <i class="fas fa-camera-retro"></i>

    <i class="fa fa-area-chart"></i>
    <i class="fa fa-camera-retro"></i>
    <i class="fa fa-address-book"></i>
    fa-address-book
    [ngStyle]="{'background-color':checkclicked === 'true' ? 'green' : '' }"
  </h1>
<span class="test">Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test1">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test2">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test3">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test4">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test5">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test6">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test7">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test8">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span><br>
<span class="test9">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span>




@font-face {
    font-family: 'Accenture_Italian';
    src: url('assets/Graphik_Family_TTF_MataData/Graphik-Black Italic.ttf');
}
 [ngStyle]="{'background-color':checkclicked == 'true' ? 'green' : '' }">
    -->
 <!-- <div [ngClass]="{
            'text-success':checkclicked === 'true',
            'text-primary':checkclicked === 'false'}"> -->
            <!-- <div  [class.text-success]="checkclicked === 'true'"> -->
                    <!-- <div [ngStyle]="{'background-color':checkclicked === 'true' ? 'green' : 'red' }">
                            <input type="radio" (click)="bacgground()">
                    </div>

                    <div [style.background-color]="getStyle()">
                            I'm a div that wants to be styled
                            <button (click)="showStyle = !showStyle;">Toggle style</button>
                          <input type="radio" (click)="showStyle = !showStyle;"><br>
                          <input type="radio" (click)="showStyle = !showStyle;">
                          </div>

<div [ngStyle]="{'background-color':checkclicked === 'true' ? 'green' : '' }">                
                <input type="radio" (click)="bacgground()">
    <span class="test">Our brand new SVG-based framework that gives you all the benefits</span><br>
    <span class="test1">Hi Hello Our brand new SVG-based framework that gives you all the benefits</span>
</div> -->

<!--
    <div class="radio-item">
        <input type="radio" id="ritema" name="ritem" value="ropt1">
        <label  for="ritema">Option 1</label>
    </div>
    
    <div class="radio-item">
        <input type="radio" id="ritemb" name="ritem" value="ropt2">
        <label for="ritemb">Option 2</label>
    </div> -->