
.acclogo {
    float: left;
}

h1.AppName {
    font-family: 'Graphik';
    font-weight: bold;
    margin-top: 0px;
    margin-top: -5px;
    text-align: center;
    font-size: 20px;

}

.navbar-inverse{
    background-color: white;
    border-color: white;
    padding-top: 0.5px;


.accenturelogo{
    width: 180px;
}

.notificons{
    // padding-left: 850px;
    color: darkgray;
    font-size: 20px;
    float:right;

    .badge-notify{
        background:rgb(252, 109, 109);
        // position:absolute;
        top:0px;
       }
}

.navbar-header{
    display: inline-block;
    margin-top: -10px;
    .btn-group-sm>.btn, .btn-sm {
        // padding: 5px 10px;
        padding-left: 0.5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        background-color: black;
        border-color: black
    }
    // .icons{
    //     padding-left: 1050px;
    //     padding-top: 50px;
    //     .glyphicon glyphicon-user{
    //         color:rgb(77, 75, 75);
    //     }
    //     .pull-right{
    //         .glyphicon glyphicon-user{
    //             color:rgb(77, 75, 75);
    //         }
    //     }
    //     .glyphicon glyphicon-envelope{

    //         color:rgb(77, 75, 75);
    //     }
    //     .glyphicon glyphicon-bell{
    //         color:rgb(90, 89, 89);
    //     }
    // }
}
// #navbar{
//     padding-right: 250px;
// }

}

#headerbar{
    background-color:#364150;
    height: 40px;
    margin-top: -40px;
    
            .manageSubscriberList{

                // background-color: #000;
                text-decoration-color: #f9f9f9;
                color:#5bc0de; 
                height: 140px;
               width: 200px;
                // border-color: #000;
            

              
            }
    }
.alert{
    padding: 2px;;
    background-color:#fdf2ed;
    margin-bottom: 4px;
border-radius: 0px;
    border-left-color:rgb(253, 39, 39);
    border-left-width: 10px;
    border-style: solid;
    // height: 20px;

}



// .navbar-inverse{
//        background-color: white;
//     border-color: white;
//     padding-top: 0.5px;



// .accenturelogo{
//     width: 220px;
// }

// .navbar-header{
//     display: inline-block;

//     .icons{
//         padding-left: 1050px;
//         padding-top: 50px;
//         .glyphicon glyphicon-user{
//             color:rgb(77, 75, 75);
//         }
//         .pull-right{
//             .glyphicon glyphicon-user{
//                 color:rgb(77, 75, 75);
//             }
//         }
//         .glyphicon glyphicon-envelope{

//             color:rgb(77, 75, 75);
//         }
//         .glyphicon glyphicon-bell{
//             color:rgb(90, 89, 89);
//         }
//     }
// }
// #navbar{
//     padding-right: 250px;
// }

// }

// #headerbar{
//     background-color:black;
//     height: 40px;
    
//             .manageSubscriberList{

//                 background-color: #000;
//                 text-decoration-color: #f9f9f9;
//                 color:#5bc0de; 
//                 height: 40px;
//                width: 200px;
//                 border-color: #000;

              
//             }
//     }
// .alert{
//     padding: 20px;
//     background-color:#ff1d2e;
//     opacity: 0.5;
//     color: white;
//     border-left-color:red;
//     border-left-width: 30px;
//     border-style: solid;
// }


.panel-default{
    margin-bottom: 0px;

    .panel-heading{
        padding-left: 0.5px;
        height: 40px;
        .glyphicon glyphicon-cog{
padding-right: 1150px;
        }
    }
    #inlinegridgap{
        padding: 0px;
        float: right;
    }
.row{
    .col-md-2{
        padding-left: 10px;
    }
    .actionAddNewTask{
         #actionAddNewTask{
             #Actions{
                background-color: #5bc0de;
                color:white;
               border-width: 150%;
               height: 50px;
               width: 40px;
               padding: 0px;
             }

         }

    }
}

    



.tableContent{
.TableHeader{
    font-size: 12px;
    .TableHeaderth{
        padding-left: 55px;

    }

}
.tbody{
    font-size: 11px;
    padding: 0px;
    #editButton{
        padding: 1px 11px;
        border-radius: 0px;
    }
    .tabletd{
        border-right-style: solid;
        border-right-width: thin;
        border-right-color:darkgrey;
    }
}

    .P1{
        background-color:#ff866d;
        font-weight: 120%;
      padding: 6px;
      color: black;
      text-decoration-style: solid;
      border-radius: 62%;

    }
    .P2{
        background-color:yellow;
        font-weight: 120%;
        padding: 6px;
        color: black;
        text-decoration-style: solid;
        border-radius: 62%;
    }
    .P3{
        background-color:lightblue;
        font-weight: 120%;
        padding: 6px;
        color: black;
        text-decoration-style: solid;
        border-radius: 62%;
    }
}


}
// #Tabledata{
// .panel-heading{
//     .actionAddNewTask{
//         #actionAddNewTask{
//             display: inline-block;

//             .btn{
//                 padding: 3px;
//                 border-radius: 0px;

//             }
//         }
//     }
//     .addnewtaskbutton{
//         padding-bottom: 3px;
//         padding-left: 830px;
//     }
// }
// }   buttonEdit
@media only screen and (min-width: 768px) {
    #Tabledata{
   .panel-heading{
       .actionAddNewTask{
           #actionAddNewTask{
               display: inline-block;
   padding-left: 44px;
               .btn{
                   padding: 3px;
                   border-radius: 0px;
   
               }
           }
       }
       .addnewtaskbutton{
           padding-bottom: 3px;
           padding-left: 85px;
       }
   }
   }
   }
.IncidentDetails{

    font-size: 12px;
    .panel-default{
        margin-bottom: 0px;
        .panel-heading{
            #buttonEdit{
                .dropdown{
                    .fa-ellipsis-h{
                        border-style: hidden;
                        color: black;
                    }
                    .dropdown-menu{
                        min-width: 20px;
                        background-color: rgba(23,172,202,0.96);
                        font-size: 12px;
                        
                    #dropdown-item{
                            display: grid;
                            background-color: rgba(23,172,202,0.96);
                            color: white;
                            border-color: #5bc0de
                        }
                    }
                }
            }
        }
        .panel-body{
            padding: 4px;
            background-color:white;
            .IncidentDetailsTable{
                .IncidentNumber{
                    padding-left: 0px;
                    color:#5bc0de;
                    font-size: 12px;
                }
        
            }
            .panel-default{
                .row{
                    .col-md-12{
                        .col-md-4{
                            .IncidentselectDetails{
                                .form-control{
                                    display: -webkit-inline-box;
                                    font-size: 12px;
                                    font-weight: bold;
                                    text-align: center;
                                }

                                padding-bottom: 10px;
                                .IncidentselectDetailsIncident{
                                    font-size: 12px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.searchresult{
    position: absolute;
    width: 250px;
    height: 350px;
  background-color:black;
    overflow-y: hidden;
    z-index: 99;
  }
  
  .searchsuggestions{
    padding-left: 10px;
    padding-bottom: 15px;
    background-color: black;
    text-decoration-color: white;
    color:#FFF;
    font-size: 14px;
    cursor: pointer;

    a {
        color: #fff;
        text-transform: uppercase;
    }
  }
.serchInput{
  padding-left: 30px;
  padding-right: 30px;
  margin-top:20px;
  height: 30px;
  padding: 6px 12px;
  margin-bottom: 20px;
  width: 250px;

}
.managedtable{
    padding-left: 0px;

}
.table-border{
    border: 1px solid #ddd;
}
table.dataTable tbody th, table.dataTable tbody td{
    padding: 4px;
}
@media only screen and (min-width: 768px) {
    #incidentDetailHeader{
       padding: 0px;
        padding-bottom: 35px;
    }
#buttonEdit{
    
    padding: 4px;
    float:right;
    padding-right: 0px;
    .buttonEdit {
        padding: 0px;
        border-radius: 0px;
    }
    
}
}
.btn-info{
    padding: 2px;
    border-radius: 0px;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td{ font-size: 11px !important;}

.btn-primary{
    background-color: black;
    border-color: black;
}
.IncidentNumber{
    padding-left: 0px;
  
}

th{
    text-align: center;
}
.pager{
    margin:0px;
    padding-left: 0px;
    .row{
        #headerbar{
            .header-row{
                .col-md-12{
                    padding: 0px;
                }
            }
          }

        .btn-info{
            padding: 4px;
            padding-right: 18px;
            padding-left: 8px;
            text-transform: uppercase;
            width: 200px;
            font-weight: 600;
            height: 40px;
    
            
        }
    }

}
.panel-body{
    padding: 1px;
}
.ellipsis{
    padding-left: 60px;
}
.tdt{
    .inlinemanagesubscribers{
        display: inline-block;
        a{
            color: black;
        }
        .dropdown-menu{
            border-color:#32c5d2;
            padding: 0px;
            #dropdown-item{
                display: grid;
                background-color: #32c5d2;;
                color: white;
               


            }
        }
    }
    
}
.col-md-12{
    padding-left: 0px;
}

.footer {
    .container-fluid { background-color: #364150 !important;}
}

.btn-arrow-right:before { display: none;}
.btn-arrow-right:after, .btn-arrow-left:after {
    width: 0; 
    height: 0; 
    border-top: 20px solid #364150;
    border-bottom: 20px solid #364150;
    border-left: 25px solid #5bc0de;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    right: -25px;
    top: -1px;
    border-right-color: transparent;
    border-right-style: none;
    border-right-width: transparent;
    background-color: black;
}

.caret {
    border-top: 8px dashed;
    border-top: 4px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    float: right;
    margin-top: 6px;
}

.glyphicon-search:before {
    color: #ddd;
}

#headerOptions{
    display: inline;
    color: white;
    padding-left:23px;
}
.ManageClientslist{
    display: grid;
}
.headerOptionsAddNew{
    background-color: black;
}
.Addnew{
    background-color: black;
    color: white;
   border-color: black;
}