<div id="loader" class=""></div>
<!-- <div class="hide" id="alert">Data has been deleted successfully!</div>
<div class="hide" id="alertupdate">Data has been updated successfully!</div> -->

<div class="hide" id="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <span>  <strong>Success!</strong>   Data has been deleted successfully!</span>
</div>
<div class="hide" id="alertupdate">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" id="alertclosebtn">&times;</a>
    <span>  <strong>Success!</strong>   Data has been updated successfully!</span>
</div>



<div class="ContainerClient" [hidden]="enableClientNew">
<div class="Tettt" >
      <div  class="container-fluid" class="pager" *ngIf="HideContent">
        <div class="panel panel-default" [style.height]="heightTable + '%'"  id="Tabledata" [hidden]="zoomIncidentDetail" >
            <div class="panel-heading" >
              <div class="col-md-2">
                <i class="fa fa-user"></i><span class="managedtable">MANAGE CLIENTS LIST</span>
       
              </div>  
              <div class="col-md-7" id="recordsdiv">
                
                  <span class="records">
                     <!-- Total {{clientCounter}} Records -->
                  </span>
      
              </div>
              <div class="col-md-2" id="tableoptions">
               
                <span class="tdt">
                    <div>
                        <div class="inlinemanagesubscribers">
                            <button class="btn btn-info"(click)="MakeAddClientEnable()"><span class="glyphicon glyphicon-plus"></span>ADD</button>
                            </div>
                          
                        <div class="inlinemanagesubscribers">

                            <!-- <a class="fa fa-ellipsis-h
                            dropdown-toggle" type="button" 
                            id="dropdownMenuButton"
                             data-toggle="dropdown"
                             aria-haspopup="true"
                             aria-expanded="false">
              
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <input type="checkbox" 
                            id="dropdown-item"
                            name="vehicle"
                            value="Bike"
                            (change)="tryonce()">CLIENTID
                            <input type="checkbox"  id="dropdown-item" name="vehicle" value="Bike">
                            <input type="checkbox"  id="dropdown-item" name="vehicle" value="Bike">
                            <input type="checkbox"  id="dropdown-item" name="vehicle" value="Bike">
                          </div> -->
                        </div>
          <div class="inlinemanagesubscribers" id="maximize">
             
              <i class="fa fa-expand" (click)="zoomTableDetails()" *ngIf="!zoomTableDetail"></i>
              <i class="fa fa-compress" (click)="zoomOutTableDetails()" *ngIf="zoomTableDetail" ></i>
              
      
          </div>
                        </div>
                </span>
            </div>
              </div>
           <div>
           </div>
         <div class="tableContent" >
            <div class="panel-body" >
                <table ng-style="{ 'height': yourModelToProvideValue }" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-border table-hover">
                    <thead>
                      <tr class="TableHeader">
                        <th class="TableHeaderth" id="clientId" #clientid>CLIENT ID</th>
                        <th class="TableHeaderth">CLIENT NAME</th>

                        <th class="TableHeaderth">SHORT NAME</th>
                         <th class="TableHeaderth">ADDRESS</th>
                         <th class="TableHeaderth">REMARKS</th>
                         <th class="TableHeaderth">STATUS</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                      <tr class="DataTableRow" *ngFor="let person of persons;let i = index"
                      [ngStyle]="{'color':person.clientId===testvalue ? 'white' : '','background-color':person.clientId===testvalue ? '#364150' : '' }"
                      (click)="toggle(person)">
                    <td class="tabletdclientid">{{person.clientId}}</td>
                    <td class="tabletdclientname">{{person.clientName}}</td>
                    <td class="tabletdshrtname"><span class={{person.Priority}}>{{person.shortName}}</span></td>  
                    <td class="tabletd">{{person.address}}</td>
                    <td class="tabletd">{{person.remarks}}</td>
                    <td class="tabletd">{{person.status}}</td>
                      </tr> 
                    </tbody>
                    </table>
                    <div class="" id="recordsdivfoot">
                
                      <span class="recordsfoot">
                         Total {{clientCounter}} Records
                      </span>
                      </div>

                  </div>
         </div>
      </div>
      <div class="IncidentDetails" [hidden]="zoomTableDetail"  >
          <div class="panel panel-default" >
            <div class="panel-heading" id="incidentDetailHeader">
                  <span class="col-md-2" id="tableheadindex" 
                  clickOutside (clickOutside)="closeDropDown()"
                  (click)="ManageClientsDropdownToggle()">
                  <i class="fa fa-list-alt"></i><span>CLIENT DETAILS</span> <i class="fa fa-angle-down"></i> 
                  <ul class="hide" id="ManageClients" style="padding: 0px;
                  padding: 0px;
            margin:0px;
            margin-top: 10px;
            margin-left: -17px;">
                    <div class="searchresult" id='searchresultid'>
                    <li class="ManageClientslist" id="ManageClientslistid" (click)="showERelativeStakeholder()">Business Group info</li>
                    <li class="ManageClientslist" id="ManageClientslistid">Business Units</li>
                    <li class="ManageClientslist" id="ManageClientslistid">SubScriber info</li>
                    <li class="ManageClientslist" id="ManageClientslistid">Manage groups</li>
                  </div>
                  </ul>
                 </span>
                 <div class="col-md-3 " id="alertmessage">
                    <span *ngIf="editDetailselectedvalidate()"  class="">
                        <span>{{MainUpdateError}}</span>
                     </span>
                 </div>
              <div class="col-md-3 pull-right" id="">
                <div id="buttonEdit">
                    <div class="dropdown">
                        <button id="ActionBtn" class="fa fa-edit" *ngIf="IncidentEditable" id="" (click)="edit()"></button>
                        <button id="ActionBtn" class="fa fa-trash" data-toggle="modal" data-target="#exampleModalCenter"></button>
                        <button id="ActionBtn" 
                        class="fa fa-save" 
                        *ngIf="!IncidentEditable" 
                        id="buttonEditbutton" 
                        (click)="Updateclient()"
                        [disabled]="editDetailselectedvalidate()"></button>
                        <button id="ActionBtn" class="fa fa-remove" *ngIf="!IncidentEditable" id="buttonEditbutton" (click)="Cancel()"></button>
                        <a class="fa fa-ellipsis-h dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                              <i class="fa fa-file-excel-o" id="downloadmenu" (click)='downloadCSV({ filename: "stock-data.csv" })'></i> <font (click)='downloadCSV({ filename: "stock-data.csv" })' style="cursor: pointer;">Download as CSV</font>
                              <br>
                              <i class="fa fa-file-pdf-o" id="downloadmenu" (click)='downloadPdf()'></i> <font (click)='downloadPdf()' style="cursor: pointer;" >Download as PDF</font>

                            <!-- <img src="assets/csv.png" alt="no" style="width: 31px;cursor: pointer;"(click)='downloadCSV({ filename: "stock-data.csv" })'>
                            <img src="assets/pdf.jpg" alt="no" style="width: 31px;cursor: pointer;" (click)='downloadPdf()'> -->
                              <!-- <i class="fa fa-file-excel-o" id="dropdown-item" (click)='downloadCSV({ filename: "stock-data.csv" })'></i> -->
                              <!-- <i class="fa fa-file-pdf-o" id="dropdown-item" (click)='downloadPdf()'></i> -->
                          </div>
                        &nbsp;&nbsp; 
                        <i class="fa fa-expand" (click)="zoomProductIncidentDetails()"*ngIf="!zoomIncidentDetail"></i>
                        <i class="fa fa-compress" (click)="zoomOutIncidentDetails()" *ngIf="zoomIncidentDetail"></i>
                      </div>
            </div></div></div> 
            <div class="panel-body" >
              <app-client-business-detail [Stakeholder]="stakeholder" [hidden]="!HideUnhideclientRelationshipDetails"></app-client-business-detail>
              <div class="panel panel-default"  [style.height]="height + 'px'" [hidden]="HideUnhideclientRelationshipDetails">
                <div class="">
                  <!-- row153 -->
                <div class="col-md-12 " id="inputrowga">
                  <div class="col-md-6">
                    <div class="col-md-3" id="clientdetailsgapfill">
                        <span style="float: left;"><label class="Clientinputlable">CLIENT ID</label> </span>
                    </div>
                    <div class="col-md-1">
                        <span style="padding-left: 0px;">:</span>
                      </div>

                    <div class="col-md-2" id="clientdisplay">
                        <span *ngIf="IncidentEditable" style="padding-left: 0px;">{{DetailSelected.clientId}}</span>
                      </div>

                    <div class="col-md-6">
                        <span *ngIf="!IncidentEditable">
                
                            <input type="text" 
                            class="form-control" 
                            style="width: 56%"
                            value={{DetailSelected.clientId}}
                            readonly="true"
                            ></span>
                      </div>
                  </div>
                  <div class="col-md-6" id="clientdetailscolalign">
                      <div class="col-md-3" id="clientdetailsgapfill">
                          <span style="float: left;"><label class="Clientinputlable">CLIENT NAME</label></span>
                        </div>
                      <div class="col-md-1">
                          <span style="padding-left: 0px;">:</span>
                        </div>
                      <div class="col-md-2" id="clientdisplay">
                          <span *ngIf="IncidentEditable" style="padding-left: 0px;">{{DetailSelected.clientName}}</span>
                      </div>
                      <div class="col-md-6">
                          <span *ngIf="!IncidentEditable">
                              <input type="text" 
                              class="form-control" 
                              style="width:56%;"
                              minlength="2"
                               [(ngModel)]="clientNameupdate"
                               [ngClass]="{'red-border-class': 
                               ClientUpdateValidation()
                              }"
                               >
                               <span *ngIf="ClientUpdateValidation()" class="help-block">
                                  <span>{{clientUpdateErrorMessage}}</span>
                               </span>

                        </span>

                        </div>
                      </div><!-- col-md-6-->
                    

                </div> <!-- col-md-12-->
                <div class="col-md-12 " id="inputrowga">
                    <div class="col-md-6">
                      <div class="col-md-3" id="clientdetailsgapfill">
                          <span style="float: left;"><label class="Clientinputlable">SHORT NAME</label></span>
                        </div>
                      <div class="col-md-1">
                          <span style="padding-left: 0px;">:</span>
                        </div>
  
                      <div class="col-md-2" id="clientdisplay">
                          <span *ngIf="IncidentEditable" style="padding-left: 0px;">{{DetailSelected.shortName}}</span>
                        </div>
  
                      <div class="col-md-6">
                          <span *ngIf="!IncidentEditable">
                              <input type="text" 
                              class="form-control"
                              style="width:57%;"
                              [(ngModel)]="shortNameupdate"
                                value={{shortNameupdate}}
                                [ngClass]="{'red-border-class': 
                                shortNameUpdateValidation()
                              }"
                               >
                               <span *ngIf="shortNameUpdateValidation()" class="help-block">
                                 <span>
                                   {{shortNameUpdateErrorMessage}}
                                 </span>
                               </span>
                          </span>
                        </div>
  
  
                    </div><!-- col-md-6-->
                    <div class="col-md-6" id="clientdetailscolalign">
                        <div class="col-md-3" id="clientdetailsgapfill">
                            <span style="float: left;"><label class="Clientinputlable">ADDRESS</label></span>
                          </div>
                        <div class="col-md-1">
                            <span style="padding-left: 0px;">:</span>
                          </div>
    
                        <div class="col-md-2" id="clientdisplay">
                            <span *ngIf="IncidentEditable" style="padding-left: 0px;">{{DetailSelected.address}}</span>
                        </div>
    
                        <div class="col-md-6">
                            <span *ngIf="!IncidentEditable">
                                <input type="text" 
                                class="form-control"  
                                style="width:57%;" 
                                value={{addressupdate}}
                                [(ngModel)]="addressupdate"
                                [ngClass]="{'red-border-class': 
                                addressupdateValidation()
                              }">
                                

                                <span *ngIf="addressupdateValidation()" class="help-block">
                                    <span>
                                      {{addressupdateErrorMessage}}
                                    </span>
                                  </span>
   
                              </span>
                          </div>
    
    
                      </div><!-- col-md-6-->

  
  
                      
  
                  </div> <!--col-md-12-->
                      <!--for addresss and remarks  -->
                  <div class="col-md-12 " id="inputrowga">
    
    
                      <div class="col-md-6">
                          <div class="col-md-3" id="clientdetailsgapfill">
                              <span style="float: left;"><label class="Clientinputlable">REMARKS</label></span>
                            </div>
                          <div class="col-md-1">
                              <span style="padding-left: 0px;">:</span>
                            </div>
      
                          <div class="col-md-2" id="clientdisplay">
                              <span *ngIf="IncidentEditable" style="padding-left: 0px;">{{DetailSelected.remarks}}</span>
                          </div>
      
                          <div class="col-md-6">
                              <span *ngIf="!IncidentEditable">
                                  <input type="text"
                                     class="form-control"
                                     style="width:57%;"
                                     [(ngModel)]="remarksupdate"
                                     [ngClass]="{'red-border-class': 
                                     remarksupdateValidation()
                              }">
                                

                                <span *ngIf="remarksupdateValidation()" class="help-block">
                                    <span>
                                      {{remarksupdateErrorMessage}}
                                    </span>
                                  </span>
                                  </span>
 
                            </div>
                          </div><!-- col-md-6-->
                        
    
                    </div> <!--col-md-12-->

                    <div class="col-md-12 " id="inputrowga">
                        <div class="col-md-6">
                          <div class="col-md-3" id="clientdetailsgapfill">
                              <span style="float: left;"><label class="Clientinputlable">STATUS</label></span>
                            </div>
                          <div class="col-md-1">
                              <span style="padding-left: 0px;">:</span>
                            </div>
      
                          <div class="col-md-2" id="clientdisplay">
                            <span *ngIf="IncidentEditable">
                              <!-- id="status" -->
                              <span *ngIf="(statusupdate=='active')">yes</span>
                              <span id="status">
                                  <span *ngIf="(statusupdate=='active')">
                                      <!-- <span>yes</span> -->
                                      <i class="fa fa-check"></i></span>
         
                              </span>
                            </span>
                            <span *ngIf="IncidentEditable">
                                <span *ngIf="(statusupdate=='inactive')">No</span>
                                <span class="statusCheck">
                                    <span *ngIf="(statusupdate=='inactive')" >
                                       
                                        <i class="fa fa-times"></i>
                                      </span>
           
                                </span>
                            </span>
                             </div>
      
                          <div class="col-md-6">
                              <span *ngIf="!IncidentEditable">
                                  <span *ngIf="!IncidentEditable"  style="float: left">
                                      <select [(ngModel)]="statusupdate">
                                          <option>active</option>
                                          <option>Inactive</option>
                                        </select> 
                                  </span>
                                  <!-- <input type="text" 
                                  class="form-control" 
                                  style="width:57%;" 
                                  [(ngModel)]="statusupdate"
                                  value={{statusupdate}}
                                  > -->
                               </span>
                            </div>
      
      
                        </div><!-- col-md-6-->
      
      
                        <!-- <div class="col-md-6">
                            <div class="col-md-3">
                                <span style="float: left;"><label class="Clientinputlable">PHONE</label></span>
                              </div>
                            <div class="col-md-1">
                                <span style="padding-left: 0px;">:</span>
                              </div>
        
                            <div class="col-md-2" id="clientdisplay">
                                <span *ngIf="IncidentEditable" style="padding-left: 0px;">{{DetailSelected.phone}}</span>
                             </div>
        
                            <div class="col-md-6">
                                <span *ngIf="!IncidentEditable">
                                    <input type="text" 
                                    class="form-control" 
                                    style="width:57%;" 
                                    value={{DetailSelected.phone}}
                                    [(ngModel)]="phoneupdate"
                                    [ngClass]="{'red-border-class': 
                                    phoneupdateValidation()
                              }">
                                

                                <span *ngIf="phoneupdateValidation()" class="help-block">
                                    <span>
                                      {{phoneupdateErrorMessage}}
                                    </span>
                                  </span>
                                  </span>
   
                              </div>
                            </div>col-md-6 -->
                          
      
                      </div> <!--col-md-12-->

                  </div>
                 
                </div>   
      
        
              
              
              
              
              
              
              
              
              
              </div>
        </div>
      </div>
      
      </div>
      
      </div>
      <router-outlet></router-outlet>
      <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Update Incident</h4>
              </div>
              <!-- <div class="container"></div> -->
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancel</a>
                <a href="#" class="btn btn-info">Update</a>
              </div>
            </div>
          </div>
        </div>
        
      <!-- test delete alert -->
      
      <!-- Modal -->

      <div class="modal fade" 
                id="exampleModalCenter" 
                tabindex="-1" 
                role="dialog" 
                aria-labelledby="exampleModalCenterTitle" 
                aria-hidden="true"
                >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-exclamation-triangle"></i>  Warning !! </h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="border:white">
              Are you sure that you want to permanently delete the record ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn enabledGrayBtn" data-dismiss="modal" #deleteModal>Cancel</button>
              <button type="button" class="btn btn-info enabledBtn" (click)="deleteClient()">Yes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
<div id="DataContainer" class="ContainerClientLoginForm" [hidden]="!enableClientNew">
    <div class="panel-default"  id="Form">
      <div class="panel-heading">
    <div class="col-md-12" id="AddNewClientHeader">
      <div class="col-md-11" id="addnewdiv">
      <span class="sectionHead"> <i class="fa fa-user-plus"></i>ADD NEW CLIENT </span>
    </div>
    <div class="col-md-1">
      <a class="backtomainmenu" (click)="disableclientaddform()"> <i class="fa fa-angle-left"></i> <span class="Clientpgbackbtn"> Back</span></a>
    </div>
  </div>
</div>
    <div class="panel-body">
      <div class="panel" id="panelmargibhide">
            <form class="form-inline" [formGroup]="AddNewTask" (ngSubmit)="uservalidateAndGetProdut(AddNewTask.getRawValue())">
              <div class="addnewstakeholder">
                <div class="col-md-12"><!--starting of col-md-12-->
                  <div class="col-md-6">
                    <div class="col-md-3">
                      <span> <label class="Clientinputlable"  for="clientName">CLIENT NAME</label></span>
                    </div>
                    <div class="col-md-1">
                    <span>:</span>
                    </div>
                    <!-- [ngClass]="{'red-border-class': AddNewTask.get('clientName').errors.required}" -->
                    <div class="col-md-6">
                        <input type="clientName"
                         class="form-control"
                         [ngClass]="{'red-border-class': 
                         (AddNewTask.get('clientName').touched ||
                         AddNewTask.get('clientName').dirty) &&
                         AddNewTask.get('clientName').errors
                        }"
                          id="clientName" 
                          placeholder="Enter Client Name" 
                          name="clientName" 
                           formControlName="clientName">
                        <span class="help-block" *ngIf="(AddNewTask.get('clientName').touched ||
                        AddNewTask.get('clientName').dirty) &&
                        AddNewTask.get('clientName').errors">
                      <span *ngIf="AddNewTask.get('clientName').errors.required" class="ErrorMessage">
                          CLIENT NAME is  required.
                      </span>
                      <span *ngIf="AddNewTask.get('clientName').errors.minlength" class="ErrorMessage">
                          CLIENT NAME length must be greater than 3
                      </span>
                      <span *ngIf="AddNewTask.get('clientName').errors.maxlength" class="ErrorMessage">
                          CLIENT NAME length must be smaller than 52 charecters
                      </span>

                      </span>
                       </div><!--end of inner col-md-6-->
                    
                  </div><!--end of col-md-6-->
    
                  <div class="col-md-6">
                      <div class="col-md-3">
                        <span><label class="Clientinputlable" for="shortName">CLIENT SHORT NAME</label></span>
                      </div>
                      <div class="col-md-1">
                      <span>:</span>
                      </div>
                      <div class="col-md-6" >
                          <input type="text" 
                          class="form-control"
                          [ngClass]="{'red-border-class': 
                          (AddNewTask.get('shortName').touched ||
                          AddNewTask.get('shortName').dirty) &&
                          AddNewTask.get('shortName').errors
                         }"
                          id="shortName" 
                           placeholder="Enter Short Name" 
                           name="ShortName" 
                           formControlName="shortName" 
                           >
                          <span class="help-block" *ngIf="(AddNewTask.get('shortName').touched ||
                          AddNewTask.get('shortName').dirty) &&
                          AddNewTask.get('shortName').errors">
                        <span *ngIf="AddNewTask.get('shortName').errors.required" class="ErrorMessage">
                            SHORT NAME is  required.
                        </span>
                       
                        <span *ngIf="AddNewTask.get('shortName').errors.minlength" class="ErrorMessage">
                          SHORT NAME must be greater than 3 charecters
                        </span>
                        <span *ngIf="AddNewTask.get('shortName').errors.maxlength" class="ErrorMessage">
                          SHORT NAME length must be smaller than 52 charecters
                        </span>
                        </span>

                      </div><!--end of inner col-md-6-->
                    </div><!--end of col-md-6-->
                </div><!--end of col-md-12-->
                

            </div>
            <div class="addnewstakeholder">
                <div class="col-md-12"><!--starting of col-md-12-->
                  <!-- <div class="col-md-6">
                    <div class="col-md-5">
                      <span><label class="Clientinputlable" for="phone" >PHONE NUMBER:</label></span>
                    </div>
                    <div class="col-md-1">
                    <span>:</span>
                    </div>
                    <div class="col-md-6">
                        <input type="number" 
                        class="form-control" 
                        id="phone"  
                        placeholder="Enter phone" 
                        name="phone" 
                        minlength="10"
                        maxlength="10"
                        formControlName="phone" 
                        width="57%"
                        [ngClass]="{'red-border-class': 
                        (AddNewTask.get('phone').touched ||
                        AddNewTask.get('phone').dirty) &&
                        AddNewTask.get('phone').errors
                       }">
                       <span class="help-block" *ngIf="(AddNewTask.get('phone').touched ||
                       AddNewTask.get('phone').dirty) &&
                       AddNewTask.get('phone').errors">
                     <span *ngIf="AddNewTask.get('phone').errors.required">
                        phone number  is  required.
                     </span>
                    
                     <span *ngIf="AddNewTask.get('phone').errors.phoneNumberValidator">
                         short Name must have 10 digits
                     </span>
                     </span>

                        
                       </div>end of inner col-md-6
                    
                  </div>end of col-md-6 -->
    
                  <div class="col-md-6">
                      <div class="col-md-3">
                        <span><label class="Clientinputlable" for="shortName">CLIENT ADDRESS</label></span>
                      </div>
                      <div class="col-md-1">
                      <span>:</span>
                      </div>
                      <div class="col-md-6">
                          <textarea rows="4" cols="50"
                          class="form-control"
                           id="address" 
                           placeholder="Enter Client Address" 
                           name="address" 
                           formControlName="address"                  
                           [ngClass]="{'red-border-class': 
                           (AddNewTask.get('address').touched ||
                           AddNewTask.get('address').dirty) &&
                           AddNewTask.get('address').errors
                          }"></textarea>
                          <span class="help-block" *ngIf="(AddNewTask.get('address').touched ||
                          AddNewTask.get('address').dirty) &&
                          AddNewTask.get('address').errors">
                        <span *ngIf="AddNewTask.get('address').errors.required" class="ErrorMessage">
                            ADDRESS is  required.
                        </span>
                       
                        <span *ngIf="AddNewTask.get('address').errors.minlength" class="ErrorMessage">
                          ADDRESS must be greater than 3 charecters
                        </span>
                        <span *ngIf="AddNewTask.get('address').errors.maxlength" class="ErrorMessage">
                          ADDRESS must be smaller than 52 charecters
                        </span>
                        </span>


                      </div><!--end of inner col-md-6-->
                    </div><!--end of col-md-6-->
                    <div class="col-md-6">
                      <div class="col-md-3">
                        <span> <label class="Clientinputlable" for="remarks">REMARKS</label></span>
                      </div>
                      <div class="col-md-1">
                      <span>:</span>
                      </div>
                      <div class="col-md-6">
                          <input type="text" 
                          class="form-control" 
                          id="remarks" 
                          placeholder="Enter Remarks" 
                          name="remarks" 
                          formControlName="remarks" 
                          [ngClass]="{'red-border-class': 
                          (AddNewTask.get('remarks').touched ||
                          AddNewTask.get('remarks').dirty) &&
                          AddNewTask.get('remarks').errors
                         }">
                         <span class="help-block" *ngIf="(AddNewTask.get('remarks').touched ||
                         AddNewTask.get('remarks').dirty) &&
                         AddNewTask.get('remarks').errors">
                       <span *ngIf="AddNewTask.get('remarks').errors.required" class="ErrorMessage">
                        REMARKS is  required.
                       </span>
                      
                       <span *ngIf="AddNewTask.get('remarks').errors.minlength" class="ErrorMessage">
                        REMARKS must be greater than 3 charecters
                       </span>
                       <span *ngIf="AddNewTask.get('remarks').errors.maxlength" class="ErrorMessage">
                        REMARKS must be smaller than 52 charecters
                       </span>
                       </span>
  
  
                         </div><!--end of inner col-md-6-->
                      
                    </div><!--end of col-md-6-->
                </div><!--end of col-md-12-->

            </div>
            
            <div class="addnewstakeholder">
                <div class="col-md-12"><!--starting of col-md-12-->

    
                  <div class="col-md-6">
                      <div class="col-md-3">
                        <!-- <span>  <label class="Clientinputlable" for="dateOfBirth">DATE OF BIRTH:</label></span>-->
                      </div> 
                      <div class="col-md-1">
                      <!-- <span>:</span> -->
                      </div>
                      <div class="col-md-6">
                          <!-- <input type="date" 
                          class="form-control" 
                          id="dateOfBirth" 
                          placeholder="Enter dateOfBirth" 
                          name="dateOfBirth" 
                         
                          [ngClass]="{'red-border-class': 
                          (AddNewTask.get('clientName').touched ||
                          AddNewTask.get('clientName').dirty) &&
                          AddNewTask.get('clientName').errors
                         }" > -->

                        

                      </div><!--end of inner col-md-6-->
                    </div><!--end of col-md-6-->
                </div><!--end of col-md-12-->

            </div>

            <div class="panel-foote">
               <span class="addnewbuttons" >
                
                  <button class="btn enabledGrayBtn" (click)="disableclientaddform()">CANCEL</button>
                  <button type="submit" class="btn btn-info enabledBtn" [disabled]="!AddNewTask.valid">SUBMIT</button> 
               </span>
              </div>
              </form>
              
    
          </div>
          </div>
         
        </div>
</div>